.parent {
    -fx-background-color: #fff
}
.sidebar {
    -fx-background-color: gray
}
.bt {
    -fx-background-color: transparent;
            -fx-border-width: 0;
            -fx-font-size: 18px;
            -fx-font-family: "Verdana";
            -fx-text-fill: #054D3B;
            -fx-font-weight: bold;
            -fx-alignment: center;
            -fx-background-insets: 0;
            -fx-padding: 10 20;
            -fx-transition: background-color 0.3s, text-fill 0.3s;
            -fx-font-opacity: 0.8;
}
.bt:hover {
    -fx-background-color: #F59914;
            -fx-text-fill: #FFFFFF;
            -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 0);
}

.top1{
    -fx-background-color: #DDE1E5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.v_side1{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
    -fx-background-color: #DDE1E5;
}

.box {   
}


.main{
    -fx-background-color: linear-gradient(to right, #2c3e50, #2980b9);
}

.bt_log{
    -fx-background-color: #70BBDE;
}

.bt_log:hover{
    -fx-background-color: #F59914;
}

.searchBar{
    -fx-background-color:#FFFFFF;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
   -fx-background-radius: 20px;
}

.information{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}


#questions{
    -fx-font-size: 16px;
    -fx-font-family: "Verdana";
    -fx-text-fill: #FFFFFF;
}

.startExam{
    -fx-background-color: #1F5E4E;
    -fx-background-radius: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.startExam:hover{
    -fx-background-color: #F59914;
}


.profileSection{
     -fx-background-color: #F6FBF9;
     -fx-background-radius: 20px;
}

#saveChangesBtn {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 11px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
}

#saveChangesBtn:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

#cancelBtn {
    -fx-background-color: #f44336; /* Red background */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 11px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
}

#cancelBtn:hover {
    -fx-background-color: #d32f2f; /* Darker red on hover */
}

#choosePictureButton {
    -fx-background-color: #3498db; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-padding: 3 8; /* Adjusted padding for a smaller size */
    -fx-font-size: 10px; /* Reduced font size */
    -fx-border-radius: 5px; /* Border radius */
    -fx-cursor: hand; /* Cursor style */
    -fx-min-width: 50px; /* Set a smaller minimum width */
    -fx-min-height: 18px; /* Set a smaller minimum height */
}

#choosePictureButton:hover {
    -fx-background-color: #2980b9; /* Darker color on hover */
}


.mainRectangle{
    -fx-background-color: #F6FBF9;
    -fx-background-radius: 15px;
}

.profileLabel{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}
.loginUser{

    -fx-font-weight: bold;

}

.loginSub {
    /* Add initial scale transformation */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-background-color:  #054D3B;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}

.loginSub:hover {
    /* Apply hover effect with animation */
    -fx-background-color: #F59914;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-insets: 0, 1, 2;
}

/* Add transition for the scaling effect */
.loginSub:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-background-color: #FFD700;
}

.information{
    -fx-font-size: 16px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #054d3b;
}

.quizBtn{
    -fx-background-color:  dodgerblue;
    -fx-background-radius:  10px;
    -fx-text-fill: #FFFFFF;
   -fx-border-radius: 10px;
   -fx-transition-duration: 0.5s;

}

.quizBtn:hover{
    -fx-background-color: #054d3b;

}